<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Analysis Page</title>

    <link rel="shortcut icon" href="../static/twitter_icon.jpg">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="../static/css/analysis_page_styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    #traffic_manipulation {
      color: {{coeff_color}};
      text-align: center;
    }
    </style>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--blue mdl-color-text--white">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Dashboard</span>
          <a href="\download" download class="mdl-cell--11-offset">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">cloud_download</i>
            </button>
          </a>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="\dashboard"><i class="mdl-color-text--white material-icons" role="presentation">dashboard</i><font color="white">Dashboard</font></a>
          <!-- <a class="mdl-navigation__link" href="\metric1"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Traffic increase pattern</font></a> -->
          <a class="mdl-navigation__link" href="\metric2"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Traffic manipulation</font></a>
          <a class="mdl-navigation__link" href="\metric3"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Repeated tweets</font></a>
          <!-- <a class="mdl-navigation__link" href="metric4.html"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Metric4</font></a>
          <a class="mdl-navigation__link" href="metric5.html"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Metric5</font></a> -->
          <a class="mdl-navigation__link" href="\index"><i class="mdl-color-text--white material-icons" role="presentation">search</i><font color="white">New search</font></a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
          <div class = "mdl-cell mdl-cell--6-col">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Traffic increase pattern:</h2>
                </div>
              {{ div_traffic_increase }}
              <!-- <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="\metric1" action="\metric1" method="post">
                  See more
                </a>
              </div> -->
            </div>
          </div>
          <div class = "mdl-cell mdl-cell--6-col">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Traffic manipulation:</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <h2 id="traffic_manipulation">{{coeff_text}}</h2>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="\metric2" action="\metric1" method="post">
                  See more
                </a>
              </div>
            </div>
            
            <br>
            <br>
            
            <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Repeated Tweets</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <h4>{{similar_text_bubble}}</h4>
                A list of repeated tweets; each list element displays the
                tweet's text and the number of times it has been sent.
                Upon clicking on an element, a list of the users that tweeted
                that text (as well as very similar ones) will be shown.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="\metric3" action="\metric1" method="post">
                  See more
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>

