<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ title }} - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="#448aff blue accent-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Group 3</a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <br><br>
        <h1 class="header center black-text">Detecting Twitter Shills</h1>
        <div class="row center">
          <h5 class="header col s12 black-text"> A tool to analyse tweets and identify topics influenced by shill accounts </h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/twitter1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
      </div>
      <div class="row">
      </div>


      <!--   Icon Section   -->
      <form class="col s12" action="\page2" method="post">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" name="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Enter the hashtags that you would like to analyse</label>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col s4 offset-s1">
            <input placeholder="Start date of analysis" id="start-date" name="start-date" type="text" class="datepicker">
            <label for="start-date">Start Date</label>
          </div>
          <div class="col s4">
            <input placeholder="End date of analysis" id="end-date" name="end-date" type="text" class="datepicker">
            <label for="end-date">End Date</label>
          </div>
          <div class="col s3">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>
