<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Metric 4</title>

    <link rel="shortcut icon" href="../static/twitter_icon.jpg">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link rel="stylesheet" href="../static/css/analysis_page_styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--blue-900">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Network Partitioning</span>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="\dashboard"><i class="mdl-color-text--white material-icons" role="presentation">dashboard</i><font color="white">Dashboard</font></a>
            <a class="mdl-navigation__link" href="\metric1"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Traffic and sentiment over time</font></a>
            <a class="mdl-navigation__link" href="\metric2"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Coefficient of traffic manipulation</font></a>
            <a class="mdl-navigation__link" href="\metric3"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Similar text clustering</font></a>
            <a class="mdl-navigation__link" href="\metric4"><i class="mdl-color-text--white material-icons" role="presentation">perm_data_setting</i><font color="white">Network Partitioning</font></a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
            <div class = "mdl-cell mdl-cell--6-col demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Network Partitioning Graph</h2>
                    </div>
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
                        {{network}}
                    </div>
                </div>
            </div>

            <div class = "mdl-cell mdl-cell--6-col demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="demo-card-wide mdl-card" style="width: 100%;">
                    <script>
                        const tweets = {{data|safe}};
                        const element = document.getElementsByClassName("hoverlayer")[0];

                        const MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
                        const observer = new MutationObserver(myFunction);
                        observer.observe(element, {
                            childList: true
                        });

                        window.first = -1;
                        window.second = -1;

                        function generate_table(tweets){
                            let i = 0;
                            let table = ""
                            for(i=0; i<tweets.length; i++){
                                table += "<tr>";
                                table += '<td style="width:100%; white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word" class="mdl-data-table__cell--non-numeric">';
                                if (tweets[i][0] == 'R' && tweets[i][1] == 'T')
                                    table += "<b style=\"color:red;\">Retweet </b>" + tweets[i].slice(2);
                                else
                                    table += "<b style=\"color:red;\">Reply </b>" + tweets[i];
                                table += "</td>";
                                table += "</tr>";
                            }
                            return table
                        }

                        function myFunction() {
                            console.log(element);
                            console.log(element.innerHTML);
                            if (element.innerHTML.length > 0) {
                                let i = 0;
                                let search_str = "<tspan class=\"line\" dy=";
                                let count = 0;
                                while (count != 2) {
                                    if (i>element.innerHTML.length){
                                        window.first = -1;
                                        window.second = -1;
                                        return;
                                    }
                                    i += 1;
                                    if (element.innerHTML.slice(i, i + search_str.length) == search_str) {
                                        count += 1;
                                    }
                                }
                                while (element.innerHTML[i] != '>') {
                                    if (i>element.innerHTML.length){
                                        window.first = -1;
                                        window.second = -1;
                                        return;
                                    }
                                    i += 1;
                                }
                                i += 8;
                                let catagories = ["Group 1 Humans", "Group 2 Humans", "Group 1 Bots", "Group 2 Bots"]
                                for(let z = 0; z<4; z++){
                                    if (i>element.innerHTML.length){
                                        window.first = -1;
                                        window.second = -1;
                                        return;
                                    }
                                    if(element.innerHTML.slice(i, i + catagories[z].length) == catagories[z]){
                                        window.first = z;
                                        i += catagories[z].length
                                        from = catagories[z];
                                        i += 4
                                        break;
                                    }
                                }
                                for(let z = 0; z<4; z++){
                                    if (i>element.innerHTML.length){
                                        window.first = -1;
                                        window.second = -1;
                                        return;
                                    }
                                    if(element.innerHTML.slice(i, i + catagories[z].length) == catagories[z]){
                                        window.second = z;
                                        i += catagories[z].length
                                        i += 4
                                        to = catagories[z];
                                        break;
                                    }
                                }
                            }
                            else{
                                window.first = -1;
                                window.second = -1;
                            }
                        }
                        document.addEventListener("click", function () {
                            if (window.first != -1) {
                                let tweets_table = document.getElementById("thtable");
                                let table = generate_table(tweets[first][second]);
                                //window.alert(table);
                                tweets_table.innerHTML = table;
                            }
                        });
                    </script>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Tweets</h2>
                    </div>
                    <div class="demo-card-wide mdl-card" style="width: 100%;">
                        <table class="mdl-card mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                               style="width: 100%; overflow: auto; border: none;">
                            <thead id="thtable">
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">
                                        Click on an arrow to see a sample of the
                                        interactions of a group with another
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tweets_table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>